@import "mixins";

.container {
  width: 1500px;
  max-width: 100%;
  margin: 0 auto;
  // для реализации divider'а между элементами внутри grid css
  background-color: #ededed;
  gap: 1px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: 1fr, 1fr, 1fr, 1fr; или 25% 25% 25% 25% */

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container__item {
  max-width: 100%;
  background-color: white;
  cursor: pointer;
}

.a {
  transition: transform 0.2s ease-in-out;
}

.container__item:hover .a {
  transform: scale(1.05);
}
